.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card-enter {
  opacity: 0;
}
.card-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.card-exit {
  opacity: 1;
}
.card-exit-active {
  position: absolute;
  margin-left: 500px;
  top: 0;
  opacity: 0;
  transition: opacity 300ms ease-in, margin-left 300ms ease-out;
}